body{
    margin:0;
    padding: 0;
    margin-left:auto;
    margin-right: auto;
  }

.container{
	padding: 3vw 8vw 5VW 8VW;
}

/*-------------------faq-heading------------------*/
#faq-heading{
	width: 100%;
	padding: 1vw 0vw;
	text-align: center;
}
#faq-heading h2{
	color: #5DCEF9;
	padding: 0vw;
}
#faq-heading h4{
	color: #A1A1A1;
	font-weight: lighter;
	padding: 0vw;
}

/*----------------------faq-menu-------------------*/
.container_12 .grid_3 {
  width: 23%;
}
.faq-menu-header{
	background-color: #FF8654;
	color: #ffffff;
	padding: 0vw 2vw;
}
.faq-menu{
	height: auto;
	background-color: #FFB598;
	
}
.faq-menu a:hover{
	background-color: #FF8654;
	color: #ffffff;
}
.faq-menu a{
	display: block;
	text-decoration: none;
	color: #606060;
	line-height: 1.3em;
	font-size: 1.2vw;
	padding: 0vw 1.2vw 1vw 1.2vw;
}

/*--------------------faq-questions-----------------*/

.faq-questions{
	height: auto;
}

/*---------color-header--------*/
.general-issues-header{
	background-color: #5BC1BA;
	color: #ffffff;
	padding: 0vw 2vw;
}
.setting-platform-header{
	background-color:#5DCEF9;
	color: #ffffff;
	padding: 0vw 2vw;
}
.buy-sell-bitcoin-header{
	background-color: #FF8654;
	color: #ffffff;
	padding: 0vw 2vw;	
}
.use-wallet-header{
	background-color: #5BC1BA;
	color: #ffffff;
	padding: 0vw 2vw;
}

/*---------color-box--------*/
#general-issues{
	background-color: #9DDAD5;
	margin-bottom: 3vw;
}
#setting-platform{
	background-color: #9FE2FC;
	opacity: 0.8;
	margin-bottom: 3vw;
}
#buy-sell-bitcoin{
	background-color: #FFB598;
	margin-bottom: 3vw;
}
#use-wallet{
	background-color: #9DDAD5;
	margin-bottom: 3vw;
}

/*---------text-style--------*/
.question{
	padding: 0vw 2vw 1vw 2vw;
}
/*----HEADER---*/.faq-questions h2, .faq-menu h2{ 
	font-size: 1.5vw;
	padding-top: 1vw;
	padding-bottom: 1vw;	
}
/*----QUESTION---*/.title{
	display: block;
	text-decoration: none;
	color: #606060;
	line-height: 1.3em;
	font-size: 1.3vw;
	font-weight: lighter;
	padding: 0vw 1vw 1vw 0.5vw;
}
#general-issues .title:hover{
	background-color: #5BC1BA;
	color: #ffffff;
}
#setting-platform .title:hover{
	background-color: #5DCEF9;
	color: #ffffff;
}
#buy-sell-bitcoin .title:hover{
	background-color: #FF8654;
	color: #ffffff;
}
#use-wallet .title:hover{
	background-color: #5BC1BA;
	color: #ffffff;
}

/*----ANSWER---*/.faq-questions p{
	font-size: 1vw;
	padding-top: 0; 
}

/*--------------------DROPDOWN-ANSWERS-----------------*/
p[id^="view"]{
    display: none;
}

p[id^="view"]:target{
    display: block;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 16px solid #606060;

}

/*--------------------TOP-BOX-----------------*/
.top{
	margin-left: auto;
	margin-right: auto;
	background-color: #5DCEF9;
	width: 100px;
	padding: 1vw 0vw;
	text-align: center;
}
.top a{
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;

}
.top:hover{
	background-color: #9FE2FC;
}

/*--------------------MEDIA-QUERY-----------------*/
@media screen and (max-width: 959px){
	body{
		max-width: 100%;
	}
	.container{
		max-width: 100%;
		padding: 3% 5% 4% 5%;
	}
}
@media screen and (max-width: 736px){	
	body{
		max-width: 100%;
	}
	.container{
		max-width: 100%;
		padding: 3% 5% 4% 5%;
	}
	#faq-heading h4 h2{
		text-align: center;
	}
	.faq-menu a{
		font-size: 16px;
		text-align: center;
		padding: 0.5vw 0vw 1.5vw 0vw;
	}
	.title{
		font-size: 16px;
		text-align: center;
		padding: 0.5vw 0vw 1.5vw 0vw;
	}
	.faq-questions p{
		font-size: 14px;
		text-align: center;

	}
	.faq-questions h2, .faq-menu h2{ 
		font-size: 16px;
		text-align: center;
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.grid_8{
		max-width: 90%;
	}
	.grid_3{
		max-width: 90%;
	}
}	

@media screen and (max-width: 500px){
	.container{
		max-width: 100%;
		padding: 3% 2% 4% 2%;
	}
	#faq-heading h2{
		max-width: 100%;
		font-size: 20px;
		text-align: center;
	}
	#faq-heading h4{
		max-width: 100%;
		font-size: 16px;
		text-align: center;
	}.grid_8{
		max-width: 96%;
	}
	.grid_3{
		max-width: 96%;
	}
	.title{
		padding: 0.5vw 0vw 2vw 0vw;
	}
}
