body{
    margin:0;
    padding: 0;
    margin-left:auto;
    margin-right: auto;
  }

/*-------------------------STYLES--------------------------*/

/*-------TEXT-----*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:;
    line-height:;
    text-rendering: optimizeLegibility;
    margin-right: auto;
  	margin-left:  auto;
  	max-width: 100%;
  	padding-right: 1.04vw;
  	padding-left:  1.04vw;
}


h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3vw;
	line-height: 100%;
	letter-spacing: .04em;
	font-weight:normal;
	text-transform: uppercase;
	padding: 0.5vw;
}

h2{
    font-size: 2.5vw;
    font-weight: lighter;
    line-height: 110%;
    letter-spacing: .05em;
    padding: 0.5vw;
}

h3{
	font-size: 2.2vw;
	line-height: 120%;
	letter-spacing: .04em;
	font-weight: lighter;
  padding: 0.5vw;
}

h4{
	font-size: 2vw;
	line-height: 120%;
	letter-spacing: .04em;
	font-weight: normal;
	padding: 0.5vw;

}

p{
    font-size: 1.3vw;
    font-weight: lighter;
    line-height: 1.5em;
    display: block;
    padding: 0.5vw;
}
.text-small{
	font-size: 1.2vw;
  padding: 0.5vw;
}

li>a:link, li>a:visited{
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 1200px){
  body{
    width: 100%;
  }
  h1{
    font-size: 42px;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 32px;
  }
  h4{
    font-size: 26px;
  }
  p{
    font-size: 22px;
  }
  .text-small{
  
  }
}
@media screen and (max-width: 959px){
 p{
    font-size: 16px;
  }
}

@media screen and (max-width: 736px){
 
  h1{
    font-size: 26px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 20px;
  }
   p{
    font-size: 16px;
  }
  .text-small{
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  p{
    font-size: 16px;
  }
}

/*----------HR---------*/
.blue-line{
  width: 10.4vw;
  display: block;
  margin:0.5em auto 0.5em auto;
  border-style: solid;
  border-width: 0.5px;
  border-color: #5DCEF9;
}

.white-line{
  width: 6.25vw;
  display: block;
  margin:0.3em auto 0.3em auto;
  border-style: solid;
  border-width: 0.5px;
  border-color: #FFFFFF;
}
.grey-long-line{
  width: 20vw;
  display: block;
  margin:0.5em auto 0.5em auto;
  border-style: solid;
  border-width: 0.4px;
  border-color: #A7A7A7;
}
.grey-long-line2{
  width: 68vw;
  display: block;
  margin:0.5em auto 0.5em auto;
  border-style: solid;
  border-width: 0.4px;
  border-color: #A7A7A7;
}

@media screen and (max-width: 500px){
  .grey-long-line2{
    width: 80%;
  }
}

/*----------BUTTON---------*/
.download-orange{
    color: #FFFFFF;
    background-color:#FF8654;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 17px;
    padding:0.8vw 3vw;
    min-width: 180px;
    text-decoration: none;
}

.download-orange:hover{
    background-color: #FFB598;
}
.download-orange-header{
    color: #FFFFFF;
    background-color:#FF8654;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 13px;
    text-transform: uppercase;
    padding:0.6vw 2.5vw;
    min-width: 150px;
    margin-left: 15px;
    margin-right: 15px;
}
.download-white{
    color: #FF8654;
    background-color:#FFFFFF;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;
    padding:0.8vw 3vw;
    min-width: 180px;
    text-decoration: none;
}
.download-white:hover{
    background-color: #9FE2FC;
    color: #606060;
}


/*-----------------------STYLE CONTAINERS----------------------*/
.container{
  background-color: #FFFFFF;
  color: #606060;
  margin-top: 2.8vw;
  padding-top: 2.8vw;
  padding-bottom: 2.8vw;

}

.container1{
  background-image: url(/assets/images/FR/background/slider01.jpg);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding:15vw 0vw;
  color: #FFFFFF;
  margin-top: 3vw;
  position: relative;
}

.container2{
  background-color: #F1F1F1;
  text-align: center;
  padding:3vw 9vw;
  color: #606060;
}
@media screen and (max-width: 736px){ 
  .container2{
    padding:3vw 5vw;
  }
}

.container3{
  background-image: url(/assets/images/FR/background/background2.png);
  background-color: #606060;
  color: #FFFFFF;
  padding: 7vw 0vw;
  text-align: center;
}

.container4{
  background-image: url(/assets/images/FR/orange.png);
  background-color: #FFB598;
  background-image: -webkit-linear-gradient(-100deg, #FF8654 10%, #FFB598 85%);
  position: relative;
  padding: 5vw 0vw;
  color: #FFFFFF;
}
.container5{
  background-color: #606060;
  text-align: center;
  padding:2vw 9vw;
  color: #A7A7A7;
}

.container8{
  background-image: url(/assets/images/FR/background/about-us-background1.png);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding:15vw 0vw;
  margin-top: 3vw;
  color: #FFFFFF;
  max-width: 100%;
  position: relative;
}

.container9{
  background-color: #F1F1F1;
  text-align: center;
  color: #606060;
  padding: 5vw 0;
}

#thanks .background{
  background-image: url(/assets/images/FR/background/background-download.png);
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  margin-top: 3vw;
  

}
.thanks{
  text-align: center;
  color: #606060;
  margin:auto;
  padding-top: 15%;
  padding-bottom: 15%;
}

.diagonal{
    position: relative;
    height: auto;
    background-image: linear-gradient(#F1F1F1, #F1F1F1);
    color: #606060;
    text-align: center;
    padding-top:5vw;
    padding-bottom: 13vw;
    padding-left: 9vw;
    padding-right: 9vw;
}

.diagonal2{
    margin-top: -5vw;
    background-image: url(/assets/images/FR/background2.png);
    background-color: #606060;
    height: auto;
    text-align: center;
    padding-top:12vw;
    padding-bottom: 12vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(
      0 15%,
        100% 0,
        100% 100%,
        0 calc(90% - 3vw)
      );
      z-index: 2;
      position: relative;
      margin-top: -12vw;
      color: #FFFFFF;
}
.diagonal3{
    position: relative;
    height: auto;
    background-image: linear-gradient(#F1F1F1, #F1F1F1);
    color: #606060;
    text-align: center;
    padding-top:17vw;
    padding-bottom: 8vw;
    padding-left: 7vw;
    padding-right: 7vw;

    z-index: 1;
    margin-top: -12vw;
}
@media screen and (max-width: 735px){

  .diagonal{
    height: auto;
  }
  .diagonal2{
    clip-path: none;
    margin-top: 0px;
    height: auto;
  }
  .diagonal3{
    clip-path: none;
    margin-top: 0px;
    height: auto;
  }
  #features .grid_5{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  } 
  #features .grid_5 .push_2{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }  
  .diagonal3{
      padding-left: auto;
      padding-right: auto;
  }
}

.orange{
  background-color: #FF8654;
}

.green{
  background-color: #5BC1BA;
}
.blue{
  background-color: #5DCEF9;
}

/*--------nav-------*/

.navbar{
  text-align: right;
  height: 70px;
  line-height: 70px;
  max-width: 100%;
  
}
.logo-header{
  float: left;
  margin: 0 0 0 3vw;
  padding-top: 2vw;
}
.menu{
  margin: 0 3vw 0 0;
  padding-top: 2vw;
  position: relative;
  z-index: 99;
}
.menu a{
  clear: right;
  text-decoration: none;
  color: #606060;
  margin: 0 1vw;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 18px;
}
.menu a:hover{
  color: #FF8654;
}
label{
  margin: 0 4vw 0 0;
  font-size: 30px;
  line-height: 70px;
  display: none;
}
#toggle{
  display: none;
}

@media only screen and (max-width: 500px){
  label{
    display: block;
    cursor: pointer;
    width: 30px;
    float: right;
  }
  .menu{
    background-color: #9DDAD5;
    width: 100%;
    text-align: center;
    display: none;
    
  }
  .menu a{
    color: #FFFFFF;
    display: block;
    border-bottom: 1px solid #5BC1BA;
    margin: 0;
    line-height: 60px;

  }

  #toggle:checked + .menu{
    display: inline-block;
  }
}




.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.text{
  width: 90%;
  text-align: center;
}

.button{
  width: 50%;
  text-align: left;
 
}

@media screen and (max-width: 736px){

  .box{
    max-width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
  }
  .text, .button{
    max-width: 100%;
    text-align: center;

  }
}

.form-email{
    flex-shrink: 1;
    width: 50%;
    min-width: 0;
    margin-right: 5px;
    padding: 0.8vw 1.5vw;
    border-radius: 3px;
    border: 0;
    background: #fff;
    font-size: 16px;
}
.subscribe{
    color: #FF8654;
    background-color:#FFFFFF;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;
    padding:0.8vw 1.5vw;
    min-width: 100px;
    text-decoration: none;
}
.subscribe:hover{
    background-color: #9FE2FC;
    color: #606060;
}
#find-out-more h4{
  color: #;
}

@media screen and (max-width: 736px){ 
  .form-email{
        width: 30%;
      }

}
/*---------------------VIDEO PLAYED IN MACBOOK LAPTOP----------------*/
.macbook-wrapper{
  position: relative;
  padding-top: 50px;
  padding-bottom: 67.5%;
  height: 0;
  width: 120%;
}
.macbook-wrapper iframe{
  box-sizing: border-box;
  background: url(/assets/images/FR/art/macbook.png) center center no-repeat;
  background-size: contain;
  padding: 4% 12% 9% 12%;
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 92%;
}

@media screen and (min-width: 959px){
  .macbook-wrapper iframe{
    height: 96%;

  }
}

@media screen and (max-width: 736px){
  .macbook-wrapper{
    width: 100%;

  }
  .macbook-wrapper iframe{
    width: 80%;
    padding: 12% 11% 15% 10%;
    margin-left: 10%;
  }
}

/*------------------------------FOOTER---------------------------*/
#footer{
    font-weight: lighter;
    line-height: 1.3em;

}
#footer li{
    padding: 0.1vw 0.1vw;
    display: block;
    font-size: 1vw;
    line-height: 1.5em;
}
.footer-logo{
  width: 100%;
  text-align: center;
  padding-bottom: 1.3vw;
}
.footer-menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 736px){

  /*---FOOTER---*/
  
  #footer{
    width: 100%;
    text-align: center;
  } 
  #footer .footer-nav{
      display: none;
    }

}





/*-----------------------MEDIA QUERIES----------------------*/

/*-------Min-width 980px------*/



/*-------Min-width 980px------*/
@media screen and (min-width: 959px){
  



/*-------Max-width 832px------*/

@media screen and (min-width: 735px){
  
  }
}

/*-------Max-width 736------*/
@media screen and (max-width: 736px){
  

} 

}



/*-------Max-width 300------*/
@media only screen and (max-width: 400px) {
   

}
/*-------Min-width 300------*/
@media only screen and (min-width: 300px) {
  
  

}