
body{
    margin:0;
    padding: 0;
    margin-left:auto;
    margin-right: auto;
  }

.download-orange{
	margin-top: 30px;
}

.feature{
	width: 30vw;
	height: auto;
}
.container2{
	padding-top:9vw;
	padding-bottom: 9vw;
	margin-left: 0;
	margin-right: 0;
	margin-top: -14vw;
}
.video{
	padding-top: 1vw;
	padding-bottom: 4vw;
}
.container10{
	background-color: #F1F1F1;
	z-index: 0;
	position: relative;
	margin-top: 0vw;
	padding-top: 8vw;
	text-align: center;
	color: #606060;

}

/*-------------------------MEDIA QUERYS---------------------*/
@media screen and (max-width: 736px){
	#features .grid_5{
		max-width: 70%;
		margin-right: 15%;
		margin-left: 15%;
	}
	#features .grid_6{
		max-width: 70%;
		margin-right: 15%;
		margin-left: 15%;
	}
	.feature{
		width: 300px;
		height: auto;
	}
}

@media screen and (max-width: 500px){
	#features .grid_5{
		max-width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
	#features .grid_6{
		max-width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
	
}



